body {
  max-width: 1024px;
  margin: auto;
}

img {
  width: 100%;
}

.text-wrapper h2{
  color: white;
}

.logo-img {
  width: 100px;
  padding: 20px;
}

.article-img {
  padding: 0;
}

.text-container {
  margin-top: 20px;
  border-top: 2px solid limegreen;
}

.btn-link{
  border: 2px solid limegreen;
  justify-content: center;
}
