* {
  padding: 0;
  margin: 0;
}

body {
    /*font-family: 'Shadows Into Light Two', cursive;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Lora', serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Montez', cursive;*/
}

header h1 {
  font-family: 'Montez', cursive;
}

header a:focus, a:hover {
    text-decoration: none;
}

img {
  width: 100%;
}

.logo-img {
  width: 100px;
  padding: 20px;
}

/*.banner-img {
  max-height: 575px;
}*/

#featured-projects{
  text-align: center;
}

#projects {
  display: flex;
  justify-content: space-around;
}

.card {
  /*max-width: 32%;*/
  box-shadow: 5px 5px 2px rgba(0, 0, 255, 0.25);
}

.card-title{
  text-transform: capitalize;
}

/*.card-text {
  white-space: nowrap;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

/*.card-img-top{
  height: 50%;
}*/

@media screen and (max-width: 560px) {
  header h1 {
    font-size: 20px;
  }
  header h4 {
    font-size: 15px;
  }
  .logo-img {
    width: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 32%;
    justify-content: space-between;
  }
}
