* {
  padding: 0;
  margin: 0;
}

body {
    /*font-family: 'Shadows Into Light Two', cursive;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Lora', serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Montez', cursive;*/
}

header h1 {
  font-family: 'Montez', cursive;
}

header h4 {
  color: blue;
}

img {
  width: 100%;
}

.logo-img {
  width: 100px;
  padding: 20px;
}


#featured-projects{
  text-align: center;
}

#projects {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 32%;
  box-shadow: 5px 5px 2px rgba(0, 0, 255, 0.25);
}

.card-title{
  text-transform: capitalize;
}
