body {
  /*font-family: 'Shadows Into Light Two', cursive;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Lora', serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Montez', cursive;*/
}

header h1 {
  font-family: 'Montez', cursive;
}

header h4 {
  color: blue;
}

img {
  width: 100%;
}

.logo-img {
  width: 100px;
  padding: 20px;
}
