.container {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

hr {
  border-color: blue;
  border-width: medium;
}

.text-right {
  text-align: right;
}

.box {
  max-width: 33%;
}

.flex_container {
  display: flex;
  justify-content: space-around;
}

.image_container {
  width: 100%;
}
